# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled binary executables
*.exe
*.out
*.app
*.elf

# Static and Shared libs
*.a
*.so
*.dll
*.dylib

# Debug files
*.dSYM/
*.stackdump

# Build directories (common)
build/
Build/
bin/
Bin/
dist/

# Editor and IDE folders/files
*.swp
*~
.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace
.DS_Store

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Autotools
configure
config.log
config.status
autom4
